<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>estudo tailwind bootstrap</title>
  </head>
  <body>
    <header>
      <div class="container mt-10">
        <div class="row items-center">
          <div class="col-2">
            <img src="<%= placeholder %>logo.png " alt="" />
          </div>

          <div class="col-10">
            <div class="justify-end flex items-center gap-4">
              <ul class="flex gap-6 mb-0 text-black">
                <li><a href="#">WORK</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">STUDIO</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">SHOP</a></li>
                <li><a href="#">PAGES</a></li>
                <li><a href="#">CART (0)</a></li>
              </ul>
              <div class="gap-4 flex items-center">
                <button class="bg-black text-white px-6 py-2 tracking-[5px] rounded-lg">Let's Talk</button>

                <ul class="flex mb-0 items-center gap-3 border-0 border-l pl-4 border-black border-solid">
                  <li><img src="<%= placeholder %>ln.png " alt="" /></li>
                  <li><img src="<%= placeholder %>in.png " alt="" /></li>
                  <li><img src="<%= placeholder %>fb.png " alt="" /></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <!-- sobre a agencia -->
      <section class="pt-20 mb-0">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="flex flex-col h-full">
                <h1>
                  We are a <br />
                  digital agency <br />
                  from Lisbon.
                </h1>
                <p class="text-xl mt-3 w-[42ch]">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Et commodi totam.
                </p>
                <div class="justify-self-end mt-auto">
                  <img src="<%= placeholder %>img.png" alt="" />
                </div>
              </div>
            </div>
            <div class="col-6">
              <img src="<%= placeholder %>image.png " class="rounded-xl" alt="" />
            </div>
          </div>
        </div>
      </section>

      <!-- clientes -->

      <section class="py-20">
        <div class="container">
          <div class="row border-0 border-y border-solid border-black py-20">
            <div class="col-2 self-center">
              <h2 class="mb-0">OUR CLIENTES</h2>
            </div>
            <div class="col-1">
              <div class="h-full w-[1px] bg-black"></div>
            </div>
            <div class="col-9">
              <ul class="flex justify-between items-center mb-0">
                <li><img src="<%= placeholder %>clientes/1.png" alt="" /></li>
                <li><img src="<%= placeholder %>clientes/2.png" alt="" /></li>
                <li><img src="<%= placeholder %>clientes/3.png" alt="" /></li>
                <li><img src="<%= placeholder %>clientes/4.png" alt="" /></li>
                <li><img src="<%= placeholder %>clientes/5.png" alt="" /></li>
                <li><img src="<%= placeholder %>clientes/6.png" alt="" /></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- what we do -->
      <section class="pb-20">
        <div class="container">
          <div class="row pb-20 border-0 border-solid border-b border-black">
            <div class="col-4">
              <h2 class="">WHAT WE DO</h2>
            </div>

            <div class="col-8 border-0 border-l pl-8 border-black border-solid h-full items-center">
              <div class="row justify-between border-0 border-solid border-b border-black pb-5">
                <div class="col-12">
                  <div class="flex justify-between items-center h-full">
                    <div>
                      <div class="flex gap-10">
                        <div>
                          <img src="<%= placeholder %>1.png " alt="" />
                        </div>
                        <div class="">
                          <h3 class="">BRANDING</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <!-- <div class="border-0 border-r h-24 border-black border-solid"></div> -->
                      </div>
                    </div>
                    <div class="w-[1px] mx-10 h-full bg-black"></div>
                    <div>
                      <div class="flex gap-10">
                        <div>
                          <img src="<%= placeholder %>2.png " alt="" />
                        </div>
                        <div class="">
                          <h3 class="">DESIGN</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <span
                  class="border-0 border-solid border-t border-[#000000] mt-10 w-[800px] justify-center ml-10"
                ></span> -->

              <div class="row justify-between pt-9">
                <div class="col-12">
                  <div class="flex justify-between items-center h-full">
                    <div>
                      <div class="flex gap-10">
                        <div>
                          <img src="<%= placeholder %>3.png " alt="" />
                        </div>
                        <div class="">
                          <h3 class="">VIDEO</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <!-- <div class="border-0 border-r h-24 border-black border-solid"></div> -->
                      </div>
                    </div>
                    <div class="w-[1px] mx-10 h-full bg-black"></div>
                    <div>
                      <div class="flex gap-10">
                        <div>
                          <img src="<%= placeholder %>4.png " alt="" />
                        </div>
                        <div class="">
                          <h3 class="">CONTENT</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- featured work -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-4">
              <h2 class="mt-10" data-title="xl">
                FEATURED <br />
                WORK
              </h2>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo labore atque sunt totam doloribus</p>
              <button class="bg-black text-white px-6 py-2 tracking-[5px] rounded-lg mt-12">Let's Talk</button>
            </div>

            <div class="col-8 border-0 border-solid border-l border-black">
              <div class="row">
                <div class="col-12">
                  <img src="<%= placeholder %>img-01.png " class="rounded-xl mb-0" alt="" />
                  <div class="flex justify-between">
                    <p class="mt-2">Dancing Stars</p>
                    <p class="mt-2">2022</p>
                  </div>
                </div>

                <div class="col-12">
                  <div class="border-0 border-solid border-t border-black"></div>
                </div>
              </div>

              <div class="row mt-10">
                <div class="col-6 border-0 border-solid border-r border-black">
                  <img src="<%= placeholder %>img-02.png " class="rounded-xl" alt="" />
                  <div class="flex justify-between">
                    <p class="mt-2">Enjoy Silence</p>
                    <p class="mt-2">2022</p>
                  </div>
                </div>
                <div class="col-6">
                  <img src="<%= placeholder %>img-03.png " class="rounded-xl" alt="" />
                  <div class="flex justify-between">
                    <p class="mt-2">Pure Vision</p>
                    <p class="mt-2">2022</p>
                  </div>
                </div>
              </div>
              <div class="row mt-10">
                <div class="col-6 border-0 border-solid border-r border-black">
                  <img src="<%= placeholder %>img-04.png " class="rounded-xl" alt="" />
                  <div class="flex justify-between">
                    <p class="mt-2">Boring Brand</p>
                    <p class="mt-2">2022</p>
                  </div>
                </div>

                <div class="col-6">
                  <img src="<%= placeholder %>img-05.png " class="rounded-xl" alt="" />
                  <div class="flex justify-between">
                    <p class="mt-2">New Culture</p>
                    <p class="mt-2">2022</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- how we work -->
      <section class="py-20">
        <div class="container">
          <div class="row py-20 border-0 border-solid border-y border-black">
            <div class="col-8">
              <div class="border-0 border-solid border-r border-black">
                <h2 class="" data-title="xl">HOW WE WORK</h2>
                <h3 class="w-[20ch] mt-5">We help our clients succeed with innovative strategies.</h3>

                <div class="mt-16">
                  <img src="<%= placeholder %>4.png " alt="" />
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="flex flex-col items-start h-full">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi, voluptate. Delectus provident vero
                  voluptate corrupti harum ex nostrum repellendus inventore vel qui voluptatum nemo amet ipsum,
                  exercitationem doloribus corporis quaerat.
                </p>
                <button class="bg-black text-white px-6 py-2 tracking-[5px] rounded-lg mt-auto">Let's Talk</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- our values -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 text-center mb-20">
              <h2 class="mb-0" data-title="xxl">OUR VALUES</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-12 py-20 border-0 border-solid border-y border-black">
              <div class="row gx-14">
                <div class="col-6 border-0 border-solid border-r border-black">
                  <img src="<%= placeholder %>values.png " class="rounded-xl" alt="" />
                </div>

                <div class="col-6">
                  <div class="grid gap-10">
                    <div class="">
                      <div class="flex gap-10 border-0 border-solid border-b border-black pb-10">
                        <div class="shrink-0">
                          <img src="<%= placeholder %>01.png " class="w-10" alt="" />
                        </div>
                        <div class="">
                          <h3>VISION</h3>
                          <p class="mb-0">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro voluptates quidem in! A nam
                            atque placeat, vero, voluptatibus perspiciatis doloribus
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="">
                      <div class="flex gap-10 border-0 border-solid border-b border-black pb-10">
                        <div class="shrink-0">
                          <img src="<%= placeholder %>02.png " class="w-10" alt="" />
                        </div>
                        <div class="">
                          <h3>INNOVATION</h3>
                          <p class="mb-0">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro voluptates quidem in! A nam
                            atque placeat, vero, voluptatibus perspiciatis doloribus
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="">
                      <div class="flex gap-10">
                        <div class="shrink-0">
                          <img src="<%= placeholder %>03.png " class="w-10" alt="" />
                        </div>
                        <div class="">
                          <h3>CONNECTION</h3>
                          <p class="mb-0">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro voluptates quidem in! A nam
                            atque placeat, vero, voluptatibus perspiciatis doloribus
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- contact -->
      <section class="py-20">
        <div class="container">
          <div class="row">
            <div class="col-8 border-0 border-solid border-r border-black">
              <h2 class="">CONTACT</h2>
              <h3 class="mt-5 w-[24ch]" data-title="xl">LET'S BRING YOUR BRAND TO THE NEXT LEVEL</h3>
              <img src="<%= placeholder %>contact.png " class="mt-16" alt="" />
            </div>

            <div class="col-4">
              <div class="flex flex-col pl-10 items-start h-full">
                <p class="">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, qui corporis. Eum error, numquam
                  aliquam enim totam soluta
                </p>
                <button class="bg-black text-white px-6 py-2 tracking-[5px] rounded-lg mt-auto">Let's Talk</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- latest news -->
      <section>
        <div class="container">
          <div class="row">
            <div class="col-12 flex justify-between py-14 border-0 border-solid border-y border-black">
              <h2 class="mb-0" data-title="xl">LATEST NEWS</h2>
              <button class="border-solid border-x border-y px-8 border-black bg-white rounded-lg">SEE ALL</button>
            </div>
          </div>

          <div class="row py-20">
            <div class="col-4">
              <div class="h-full flex flex-col">
                <img src="<%= placeholder %>news-1.png" class="rounded-xl shrink-0" alt="" />
                <h3 class="mt-2">BRANDING, DESIGN</h3>
                <p class="mb-0">Thing to Look for When Camparing Branding Alternatives</p>
              </div>
            </div>

            <div class="col-4 border-0 border-solid border-x border-blackS">
              <div class="h-full flex flex-col">
                <img src="<%= placeholder %>news-2.png" class="rounded-xl shrink-0" alt="" />
                <h3 class="mt-2">BRANDING, DESIGN</h3>
                <p class="mb-0">Thing to Look for When Camparing Branding Alternatives</p>
              </div>
            </div>

            <div class="col-4">
              <div class="h-full flex flex-col">
                <img src="<%= placeholder %>news-3.png" class="rounded-xl shrink-0" alt="" />
                <h3 class="mt-2">BRANDING, DESIGN</h3>
                <p class="mb-0">Thing to Look for When Camparing Branding Alternatives</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <div class="row py-20 border-0 border-solid border-t border-black">
          <div class="col-4 border-0 border-solid border-r border-black">
            <img src="<%= placeholder %>logo.png " alt="" />
            <p class="mt-10">
              Main Street. 1 <br />
              2022 Berlin
            </p>

            <ul class="flex gap-2 mt-10">
              <li>
                <a href=""><img src="<%= placeholder %>ln.png " alt="rede social ln" /></a>
              </li>
              <li>
                <a href=""><img src="<%= placeholder %>in.png " alt="rede social in" /></a>
              </li>
              <li>
                <a href=""><img src="<%= placeholder %>fb.png " alt="rede social fb" /></a>
              </li>
            </ul>
          </div>

          <div class="col-8 pl-12">
            <div class="row">
              <div class="col-4">
                <h2>Pages</h2>

                <ul class="mt-10 flex flex-col gap-5">
                  <li><a href="">HOME</a></li>
                  <li><a href="">SERVICES</a></li>
                  <li><a href="">STUDIO</a></li>
                  <li><a href="">CONTACT</a></li>
                </ul>

                <button class="bg-black text-white px-6 py-2 tracking-[5px] rounded-lg mt-10">Let's Talk</button>
              </div>

              <div class="col-4">
                <h2>CMS</h2>

                <ul class="mt-10 flex flex-col gap-5">
                  <li class=""><a href="">WORK</a></li>
                  <li><a href="">WORK SINGLE</a></li>
                  <li><a href="">BLOG</a></li>
                  <li><a href="">BLOG POST</a></li>
                  <li><a href="">SHOP</a></li>
                  <li><a href="">SHOP SINGLE</a></li>
                </ul>
              </div>

              <div class="col-4">
                <h2>Utility Pages</h2>

                <ul class="mt-10 flex flex-col gap-5">
                  <li class=""><a href="">404 ERROR PAGE</a></li>
                  <li><a href="">PASSWORD PROTECTED</a></li>
                  <li><a href="">STYLEGUIDE</a></li>
                  <li><a href="">LICENSING</a></li>
                  <li><a href="">CHANGELOG</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 border-0 border-solid border-t border-black">
            <div class="flex py-10 justify-between">
              <p class="mb-0">2022 MADE BY PAWEL GOLA. POWERED BY WEBFLOW.</p>

              <ul class="flex gap-5 mb-0">
                <li><a href="">PRIVACY</a></li>
                <li><a href="">IMPRINT</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script type="module" src="./main.ts"></script>
  </body>
</html>
